
<div class="flex justify-content-center">
<h1>hello prime ng</h1>
</div>
<div class="bg-blue-500 flex justify-content-center p-8">
<div class="card">
  <p-table [value]="products" styleClass="p-datatable-striped" [tableStyle]="{'width': '100rem'}">
      <ng-template pTemplate="header">
          <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Category</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Price</th>
              <th>Price</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>{{product.code}}</td>
              <td>{{product.name}}</td>
              <td>{{product.category}}</td>
              <td>{{product.quantity}}</td>
              <td>{{product.price}}</td>
              <td>{{product.price}}</td>
              <td>{{product.price}}</td>
          </tr>
      </ng-template>
  </p-table>
</div>
</div>
<p-card >
  <p class="">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
    quas!
</p>
</p-card>

<div class="grid my-3">
  <div class="col-12 md:col-6 lg:col-3">
      <div class="text-center p-3 border-round-sm bg-primary font-bold "><p-card >
        <p >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
      </p>
      </p-card></div>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
      <div class="text-center p-3 border-round-sm bg-primary font-bold "><p-card >
        <p >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
      </p>
      </p-card></div>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
      <div class="text-center p-3 border-round-sm bg-primary font-bold "><p-card >
        <p >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
      </p>
      </p-card></div>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
      <div class="text-center p-3 border-round-sm bg-primary font-bold "><p-card >
        <p >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
      </p>
      </p-card></div>
  </div>

</div>

<div class="grid">
  <div class="col-12 md:col-6 lg:col-4">
      <div class="text-center p-3 border-round-sm bg-green-400 font-bold ">2</div>
  </div>
  <div class="col-12 md:col-3 lg:col-4">
      <div class="text-center p-3 border-round-sm bg-cyan-300 font-bold ">6</div>
  </div>
  <div class="col-12 md:col-3 lg:col-4">
      <div class="text-center p-3 border-round-sm bg-bluegray-400 font-bold red ">4</div>
  </div>
</div>